@import "color.scss";
.container {
  background-color: $color-white;
  width: 415.02px;
  height: 303px;
  border-radius: 12px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  margin: auto;
  margin-bottom: 2.625rem;

  @media (max-width: 1024px) {
    width: 800px;
  }
  @media (max-width: 769px) {
    width: 700px;

  }
  @media (max-width: 426px) {
    width: 320px;
    height: auto;
  }
}

.overview {
  padding: 1.5rem;
}
.title {
  color: $black;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.skillBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  @media (max-width: 1024px) {
    width: 500px;
    margin: auto;
    margin-top: 1rem;
  }
  @media (max-width: 426px) {
  align-items: flex-start;
  flex-direction: column;

  }
  @media (max-width: 426px) {
    width: auto;
  }
}
.skillTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $black;
}
.skillContainer {
  border-radius: 12px;
  background-color: #c4c4c4;
  width: 236.85px;
  height: 9.6px;
}

.fillContainer {
  background-color: #2f80ed;
  border-radius: 12px;
  &Refresh {
    background-color: #2f80ed;
    border-radius: 12px;
    height: 9.6px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    @keyframes animate {
      100% {
        transform: scaleX(1);
      }
    }
  }
}

//Hobby start

.hobbyContainer {
  background-color: $color-white;
  width: 415px;
  height: 836px;
  border-radius: 12px;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  margin-bottom: 2.625rem;

  @media (max-width: 1024px) {
    width: 800px;
  }
  @media (max-width: 769px) {
    width: 700px;

  }
  @media (max-width: 426px) {
    width: 320px;
    height: auto;
  }
}

.titleHobby {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $black;
  margin-bottom: 1.6rem;
}

.hobbyImg {
  width: 370px;
  height: 139px;
  border-radius: 12px;
  object-fit: cover;
  @media (max-width: 1024px){
    width: 470px;
  height: 139px;
  }
  @media (max-width: 426px) {
    width: 280px;
    height: 139px;
  }
}

.hobby {
  margin-bottom: 2.25rem;
  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 0.625rem;
    margin-top: 1.625rem;
  }

  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
  }
}
