@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;900&display=swap");
html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: #f2f2f2;

}

main{
 display: flex;
 justify-content: center;
}

.material-icons{
  font-size: 24px;
  color: #4F4F4F;

}

.d-flex-column{
  display: flex;
  flex-direction: column;
  
}
.d-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}